{{define "Index"}}
{{template "_head"}}
{{template "_menu"}}

<body>
    <div class="container">
        <section class="card">
            <div>
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.Description}}</td>
                            <td>{{printf "R$ %.2f" .Price}}</td>
                            <td>{{.Quantity}}</td>
                            <td><a href="#" class="btn btn-primary">Editar</a></td>
                            <td><button class="btn btn-danger" onclick="onDel('{{.Id}}')">Deletar</button></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="card-footer">
            <a href="/add" class="btn btn-primary">Adicionar Produto</a>
        </div>
    </div>
</body>
<script>
    function onDel(id) {
    let res = window.confirm("Deseja realmente deletar esse produto?");
    if (res) {
        window.location = "/delete?id=" + id;
    }
}
</script>

</html>
{{end}}